<div class="card" >
        <div class="row ">
            <div class="col-md-4 col-sm-10">
                <img class="img-fit-content" src="/img/images/hotels/{{$ctrl.hotel.image}}">
            </div>
            <div class="col-md-5 col-sm-10 hotel-description">
                <div class="card-block px-3">
                    <p><strong>{{$ctrl.hotel.name}}</strong></h4> 
                </div>
                <div class="form-inline icons-cointaner"> 
                    <i class="material-icons star" ng-repeat="star in $ctrl.getStars() track by $index">star</i>
                </div>
                <div class="form-inline icons-cointaner"> 
                    <img ng-repeat="amenity in $ctrl.hotel.amenities track by $index" 
                         src="/img/icons/amenities/{{amenity}}.svg"
                         class="icon"></img>
                </div>
            </div>
            <div class="col-md-3 col-sm-10 px-2 text-center price">
                    <div class="card-block px-3">
                        <span>Precio por noche</span>
                        <span> por habitacion</span>
                        <p class="card-text">ARS <strong>{{$ctrl.hotel.price}}</strong></p> 
                        <a href="#" class="btn btn-primary btn-lg btn-block dark-blue">Ver hotel</a>
                    </div>
            </div>

        </div>
    </div>