<div class="container py-3">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="/img/images/hotels/9ae3980d_b.jpg">
                </div>
                <div class="col-md-5 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Hotel stefanos</h4>
                        <p class="card-text">Estrellas</p>
                        <p class="card-text">iconos</p> 
                    </div>
                </div>
                <div class="col-md-3 px-2">
                        <div class="card-block px-3">
                            <h4 class="card-title">Precio por noche por habitacion</h4>
                            <p class="card-text">Ars <strong>863</strong></p> 
                            <a href="#" class="btn btn-primary">Ver hotel</a>
                        </div>
                </div>
    
            </div>
        </div>
    </div>